$color-bg-header: #d5e2f1;
$color-bg-description: #7fb2db;
$color-bg-steps: #f5f5f5;
$color-bg-time-test: #efefef;

$color-primary: #282828;
$color-second: #3a4492;
$color-red: #ee1451;
$color-white: #ffffff;

$color-btn-yellow: #f7cd24;
$color-btn-footer: #ffaa91;
