.header {
  background-color: $color-bg-header;

  .section__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;

    background: url(/assets/img/header/header-man.png) no-repeat right bottom;
    background-size: auto 620px;

    @media (max-width: 991.98px) {
      background-size: auto 520px;
    }

    @media (max-width: 767.98px) {
      justify-content: flex-start;

      background-size: auto 415px;
    }

    @media (max-width: 575.98px) {
      background-position-x: 155px;
      background-size: auto 350px;
    }
  }
  &__top {
    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
    .contacts {
      &__link {
        font-weight: bold;
        font-size: 23px;
        line-height: 1.57;
        text-align: center;
        color: rgba(22, 22, 22, 0.8);
        letter-spacing: -0.23px;

        @media (max-width: 767.98px) {
          font-size: 18px;
        }
      }
    }
  }

  &__title {
    width: 100%;
    max-width: 654px;
    margin-bottom: 14px;

    font-weight: 700;
    font-size: 32px;
    line-height: normal;
    color: $color-second;
    text-transform: uppercase;
    letter-spacing: -0.32px;
    span {
      color: $color-red;
    }

    @media (max-width: 991.98px) {
      max-width: 455px;

      font-size: 26px;
    }

    @media (max-width: 767.98px) {
      font-size: 23px;
    }

    @media (max-width: 575.98px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 500px;
    margin-bottom: 60px;

    font-size: 18px;
    line-height: 1.44;
    text-transform: uppercase;
    letter-spacing: -0.18px;

    @media (max-width: 991.98px) {
      max-width: 400px;

      font-size: 17px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 30px;

      font-size: 16px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;

    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;

    width: 50%;
    margin-bottom: 13px;
    padding-left: 25px;

    font-weight: normal;
    font-size: 17px;
    line-height: 1.53;
    letter-spacing: -0.17px;

    @media (max-width: 991.98px) {
      width: 100%;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 5px;
    }

    @media (max-width: 575.98px) {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;

      width: 15px;
      height: 15px;

      background-color: $color-second;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &__btn {
    margin-left: 130px;

    @media (max-width: 991.98px) {
      margin-left: 50px;
    }

    @media (max-width: 767.98px) {
      margin-left: 0;
    }
  }

  @media (max-width: 1919.98px) {
  }

  @media (max-width: 1199.98px) {
  }

  @media (max-width: 991.98px) {
  }

  @media (max-width: 767.98px) {
  }

  @media (max-width: 575.98px) {
  }
}
